:root {
    --branco-principal: #1426c7;
    --cinza-secundario: #1411da;
    --botao-azul: #1638f7;
    --cor-de-fundo: #0d0acf;
}
.corpo {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    background-image: url(maria2.webp);
    background-repeat: no-repeat;
    background-size:cover;
  
   
    
}

* {
    margin: 0;
    padding: 0;
}
.marialetra{
    color: rgb(0, 0, 0);



}


